$green-dark: #2f2f2f;
$green-light: #000000;
$gray:        #8f8f8f;
$gray-light:  #f5f6f8;

#container {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: white;
  font-family: 'Roboto', helvetica, arial, sans-serif;
  font-size: 1.5em;
}

.login-form {
  width: 100%;
  padding: 2em;
  position: relative;
  background: rgba(black, .15);

  &:before {
    content: '';
    position: absolute;
    top: -2px; left: 0;
    height: 2px; width: 100%;

    background: linear-gradient(
                    to right,
                    $green-dark,
                    $green-light
    );
  }

  #image {
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    margin-bottom: 30px;

    img {
      height: 150px;
      background-color: transparent;
    }
  }

  @media screen and (min-width: 600px) {
    width: 50vw;
    max-width: 15em;
  }
}

.flex-row {
  display: flex;
  margin-bottom: 1em;
}

.lf--input {
  flex: 1;
  padding: 1em;
  border: 0;
  color: $gray;
  font-size: 1rem;

  &:focus {
    outline: none;
    transition: transform .15s ease;
    transform: scale(1.1);
    border-radius: 8px;
  }
}

.lf--submit {
  display: block;
  padding: 1em;
  width: 100%;

  background: linear-gradient(
                  to right,
                  $green-dark,
                  $green-light
  );
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: .75em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(black, .2);

  &:focus {
    outline: none;
    transition: transform .15s ease;
    transform: scale(1.1);
    border-radius: 8px;
  }
}

.lf--forgot {
  margin-top: 1em;
  color: $green-light;
  font-size: .65em;
  text-align: center;
  position: relative;
}

::placeholder { color: $gray; }
